.fleft{
    float: left;
}
.beerImage{
  width: 100px;
  height: 100px;
}
.beerDiv{
  width: 33%;
  /*display: inline-block;*/
  float:left;
  padding: 25px;
  margin-right: 3.87px;
  min-height: 500px;
  max-height: 500px;

}
.beerDiv:nth-child(4){
  clear: both;
}
.productDescription{
  font-size: 1em !important;
  overflow-y: scroll;
  height: 100px;
  border: none;
}
.abv{
  font-size: 1em !important;
}
.beerStyle{
  font-size: 1em !important;
}
.navbar{
  height: 120px;
  background-color: #030D40;
  color: white;
}
ul li a {
  color: white !important;
}
.active a {
  color: #030D40 !important;
}
.theNav{
margin-top: 35px;
color: white !important;

}
.theSearch{
  margin-top: 35px;
}
.center{
  margin: 0 auto;
  text-align: center;
}
#username , #email, #photo{
  height: 45px;
  margin-bottom: 15px;
}
footer{
  background-color: #030D40;
  padding: 25px;
  color: white;
  /*position: absolute;*/
  /*bottom: 0px;*/
  width: 100%;
  height: 150px;
  text-align: center;
}
footer a{
  color: white;
}
footer ul li{
  display: inline;
  margin-right:15px;
}
footer ul {
  margin-left:-35px;
}
.jumbotron{
  background-color: #E7E7E7;
  color: black;
}
.push{
  display: block;
}
.container-fluid{
  min-height: 65vh;
}
.displayDiv{
  margin: 0 auto;
}
.blurbCaption{
  margin: 0 auto;
}
.nolink{
  background-color: #030D40;
  color: white;
  text-decoration: none !important;

}
.nolink h1 a{
  text-decoration: none;
}
h4{
  padding-bottom: 0px !important;
}
