.fleft{
    float: left;
}
.beerImage{
  width: 100px;
  height: 100px;
}
.beerDiv{
  width: 32.60%;
  display: inline-block;
  padding: 25px;


}
.productDescription{
  font-size: 1em !important;
  /*background-color: pink;*/
}
.abv{
  font-size: 1em !important;
}
.beerStyle{
  font-size: 1em !important;
}
.navbar{
  height: 120px;
}

.theNav{
margin-top: 35px;
}
.theSearch{
  margin-top: 35px;
}
.center{
  margin: 0 auto;
  text-align: center;
}
#username , #email, #photo{
  height: 45px;
  margin-bottom: 15px;
}
footer{
  background-color: #24292E;
  padding: 25px;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 150px;
  text-align: center;
}
footer a{
  color: white;
}
footer ul li{
  display: inline;
  margin-right:15px;
}
footer ul {
  margin-left:-35px;
}
