h1{
  font-family: 'Shrikhand', cursive;
  color: #030D40 !important;
}
 h2 {
   font-family: 'Shrikhand', cursive;
   letter-spacing: 2px;
   font-size: 35px;
   margin-bottom: 15px !important;
 }
 h4{
   font-size: 30px;
   margin-top: 0px !important;
 }
.personName{
    font-size: 30px;
    width: 45px;
    font-weight: bold;
    margin-left: 9%;
}
.fleft{
    float: left;
}
.beerImage{
  width: 100px;
  height: 100px;
}
.beerDiv{
  width: 431px;
  float:left;
  padding: 25px;
  margin-right: 6px;
  margin-left: 5px;
  min-height: 500px;
  max-height: 500px;
  border: solid 3px #030D40;
}
.brewDiv{
  width: 32.5%;
  float:left;
  padding: 25px;
  margin-right: 6px;
  margin-left: 5px;
  min-height: 500px;
  max-height: 500px;
  border: solid 3px #030D40;
}

.beerDiv:nth-child(4){
  clear: both;
}
.productDescription{
  font-size: 1em !important;
  overflow-y: scroll;
  height: 100px;
  border: none;
}
.abv{
  font-size: 1em !important;
}
.beerStyle{
  font-size: 1em !important;
}
.navbar{
  height: 120px;
  background-color: #030D40;
  color: white;
}
ul li a {
  color: white !important;
}
.active a {
  color: #030D40 !important;
}
.theNav{
margin-top: 35px;
color: white !important;

}
.theSearch{
  margin-top: 35px;
}
.center{
  margin: 0 auto;
  text-align: center;
}
#username , #email, #photo{
  height: 45px;
  margin-bottom: 15px;
}
footer{
  background-color: #030D40;
  padding: 25px;
  color: white;
  width: 100%;
  height: 150px;
  text-align: center;
}
footer a{
  color: white;
}
footer ul li{
  display: inline;
  margin-right:15px;
}
footer ul {
  margin-left:-35px;
}
.jumbotron{
  background-color: #E7E7E7;
  color: black;
}
.push{
  display: block;
}
.container-fluid{
  min-height: 65vh;
}
.displayDiv{
  margin: 0 auto;
}
.blurbCaption{
  margin: 0 auto;
}
.nolink{
  background-color: #030D40;
  color: white;
  text-decoration: none !important;
  height: 800px;

}
.nolink h1 a{
  text-decoration: none;
}
h4{
  padding-bottom: 0px !important;
}

.padded{
  padding-bottom: 5%;
  padding-top: 5%;
}
.shorter{
  width: 88%;
  float: left;
}

.paddingBottom{
  padding-bottom: 130px;
}
.moveOver{
  margin-left: 40%;
}
/* Iphone 5*/
@media (max-width:375px) and (min-width:320px) {
  .beerDiv{
    width: 98%;
    float:left;
    padding: 25px;
    margin-right: 6px;
    margin-left: 5px;
    min-height: 500px;
    max-height: 500px;
    border: solid 3px #030D40;
  }
  .beer_search{
    margin-top: 5px;
    margin-right: 0px;
  }
  .theBeer{
    width: 100%;
  }
  .theLogo{
    width: 60px;
  }
  .navbar-brand{
    width: 20%;
  }
  .navbar-default{
    height: 80px;
  }
  ul li a {
    color: #030D40 !important;
    background-color: white;
    z-index: 1000 !important;
    border: solid 1px #030D40;

  }
  body > div.container-fluid > div.col-md-12 > div.jumbotron.paddingBottom{
    margin-top: 4%;
  }
  .navbar-collapse collapse in{
    border-top: solid #061146 10px;
  }
  div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in{
    border-top: solid #061146 10px;
    margin-top: 17px;
  }
  .theNav{
    margin-top: 0px !important;
  }
}
